:root {
  --checkbox-border-color: #6251dd;
}

input[type="checkbox"] {
  border-color: var(--checkbox-border-color);
}
input[type="checkbox"]:checked {
  border-color: var(--checkbox-border-color);
}
input[type="name"] {
  font-family: Verdana;
  letter-spacing: 0.1;
}

input[type="email"] {
  font-family: Verdana;
  letter-spacing: 0.1;
}

input[type="password"] {
  font-family: Verdana;
  letter-spacing: 0.125em;
}

#name {
  background-color: #f4f4ff;
  opacity: 0.7;
}

#email {
  background-color: #f4f4ff;
  opacity: 0.7;
}

#password {
  background-color: #f4f4ff;
  opacity: 0.7;
}

.active-button {
  @apply flex w-full justify-center rounded-md bg-[#ef6b4a] px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}

.passive-button {
  @apply flex w-full justify-center rounded-md bg-[#fffff] border border-[#6251DD] px-3 py-1.5 text-sm font-semibold leading-6 text-[#6251DD] hover:text-[#ffff] shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}
