<section class="slider mt-10">
  <div class="slider-elements">
    <div class="slider-item fade">
      <div class="slider-image">
        <img src="../../../assets/banner-area.png" class="img-fluid" alt="" />
      </div>
      <div class="container-group ml-10">
        <p class="slider-heading">25% discount</p>
        <p class="slider-title">all Paulo Coelho</p>
        <p class="slider-title">books!</p>
      </div>
    </div>
    <div class="slider-item fade">
      <div class="slider-image">
        <img src="../../../assets/banner-area.png" class="img-fluid" alt="" />
      </div>
      <div class="container-group ml-10">
        <p class="slider-heading">25% discount</p>
        <p class="slider-title">all Paulo Coelho</p>
        <p class="slider-title">books!</p>
      </div>
    </div>
    <div class="slider-item fade">
      <div class="slider-image">
        <img src="../../../assets/banner-area.png" class="img-fluid" alt="" />
      </div>
      <div class="container-group ml-10">
        <p class="slider-heading">25% discount</p>
        <p class="slider-title">all Paulo Coelho</p>
        <p class="slider-title">books!</p>
      </div>
    </div>
  </div>
  <div class="slider-dots">
    <button class="slider-dot active" onclick="currentSlide(1)">
      <span></span>
    </button>
    <button class="slider-dot" onclick="currentSlide(2)">
      <span></span>
    </button>
    <button class="slider-dot" onclick="currentSlide(3)">
      <span></span>
    </button>
  </div>
</section>
