<header *ngIf="showHeader" class="shadow-md bg-white font-sans min-h-20 flex items-center justify-between px-6 sm:px-10 py-3 w-auto h-[120px]">
  <!-- Sol Grup -->
  <div class="flex items-center space-x-14 ml-[60px]">
    <div class="">
      <a href="#">
        <img src="../../../assets/logo-stroke.png" alt="logo" class="w-[60px] h-[39px] object-contain" />
      </a>
    </div>
  </div>

  <!-- Orta Grup -->
  <div class="flex items-center justify-center flex-grow">
    <div class="w-[800px] h-[50px] flex items-center space-x-6 bg-custom-gray">
      <img src="../../../assets/search-icon.png" alt="search" class="ml-4" />
      <input type="email" placeholder="Search" class="w-full h-full outline-none bg-transparent text-[#333] text-sm" />
    </div>
  </div>

  <!-- Sağ Grup -->
  <div class="flex items-center space-x-4 mr-[60px]">
    <div
      *ngIf="isLoggedIn"
      class="relative w-[50px] h-[50px] bg-custom-gray flex justify-center items-center rounded-[5px] hover:shadow-xl hover:border-red-950 hover:rounded-xl transition duration-300"
    >
      <a href="/auth">
        <img src="../../../assets/user-icon.png" alt="user" class="w-[24px] h-[24px] object-contain" />
      </a>
    </div>
    <div
      *ngIf="!isLoggedIn"
      class="relative w-[50px] h-[50px] bg-custom-gray flex justify-center items-center rounded-[5px] hover:shadow-xl hover:border-black hover:rounded-xl transition duration-300"
    >
      <a (click)="onLogout()">
        <img src="../../../assets/user-icon.png" alt="user" class="w-[24px] h-[24px] object-contain" />
      </a>
    </div>
    <div
      class="relative w-[50px] h-[50px] bg-custom-gray flex justify-center items-center rounded-[5px] hover:shadow-xl hover:border-black hover:rounded-xl transition duration-300"
    >
      <a href="/favorites">
        <img src="../../../assets/heart-icon.png" alt="heart" class="w-[24px] h-[24px] object-contain" />
      </a>
    </div>
    <div
      class="relative w-[50px] h-[50px] bg-custom-gray flex justify-center items-center rounded-[5px] hover:shadow-xl hover:border-black hover:rounded-xl transition duration-300"
    >
      <a href="/shop">
        <img src="../../../assets/shop-icon.png" alt="shop" class="w-[24px] h-[24px] object-contain" />
      </a>
    </div>
  </div>
</header>

<style>
  @layer utilities {
    .bg-custom-gray {
      background-color: #f4f4ff;
    }
  }
</style>
